[package]
name = "nonempty-collections"
version = "0.2.4"
description = "Correct-by-construction non-empty collections."
authors = ["Colin Woodbury <colin@fosskers.ca>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/fosskers/nonempty-collections"
readme = "README.md"
keywords = ["nonempty", "vector", "set", "map"]
categories = ["data-structures"]

[dependencies]
serde = { version = "1", features = ["serde_derive"], optional = true }
indexmap = { version = "2.2.5", optional = true }

[dev-dependencies]
serde_json = "1"
divan = "0.1.14"

[[bench]]
name = "vec"
harness = false

[lints.rust]
macro_use_extern_crate = "warn"
meta_variable_misuse = "warn"
missing_copy_implementations = "warn"
missing_debug_implementations = "warn"
missing_docs = "warn"
single_use_lifetimes = "warn"
unreachable_pub = "warn"
unsafe_code = "allow"
unstable_features = "deny"
unused_crate_dependencies = "allow" # too many false positives
unused_extern_crates = "allow" # too many false positives
unused_import_braces = "warn"
unused_lifetimes = "warn"
unused_macro_rules = "warn"
unused_qualifications = "warn"
unused_results = "allow"
dead_code = "warn"
unused = "warn"

[lints.rustdoc]
broken_intra_doc_links = "deny"
missing_crate_level_docs = "warn"

[lints.clippy]
cargo = "warn"
complexity = "warn"
correctness = "deny"
perf = "warn"
style = "warn"
suspicious = "deny"
todo = "warn"

missing_const_for_fn = "warn"

### Pedantic
pedantic = { level = "warn", priority = -1 } # setting a lower priority for the group to allow individual overrides
module_name_repetitions = "allow" # naming is hard enough already
iter_not_returning_iterator = "allow" # allow this because this is the point of this crate

[package.metadata.docs.rs]
all-features = true
