---
name: Tests

on:
  push:
    branches: [master]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: |
          echo "RUST_TOOLCHAIN=$(cat ./rust-toolchain)" >> $GITHUB_ENV
          echo "RUST_TOOLCHAIN_NIGHTLY=$(cat ./rust-toolchain-nightly)" >> $GITHUB_ENV

      # nightly is needed for the rustfmt portion of the lint command
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN_NIGHTLY }}
          components: rustfmt

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}
          components: clippy

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2

      - uses: taiki-e/install-action@v2
        with:
          tool: just

      - name: Run linter
        run: just lint

      - name: Run tests
        run: just test

      - name: Check readme
        run: |
          just install-cargo-readme
          just check-readme
